.play-container{
    padding-left: 2%;
    /* height: 100vh; */

}
.main-container-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play-video{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.play-video .tags a{
   color: #0000ff; 
}
.play-video h3{
   font-size: 22px; 
}
.right-sidebar{
    flex-basis: 40%;
    /* height: 80vh; */
    /* overflow: auto; */
    
}
.play-video iframe {
    width: 100%;
    object-fit: cover;
    height: 600px;
}
.play-video hr{
    height: 4px;
    background-color: #5a5a5a;
}
.side-video-list{
    padding: 10px;

    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
}

.side-video-list .small-img{
    /* flex-basis: 40%; */
    /* max-width: 50%; */
    width: 200px;
    object-fit: cover;
}
.side-video-list .video-desc{
/* max-width: 50%; */
display: flex;
flex-direction: column;
gap: 2px;
  }
.side-video-list h1{
    
    font-size: 15px;
}
.side-video-list p{
    font-size: 12px;
}
.play-video-info img{
    width: 30px;
    height: 30px;
    object-fit: contain;

}
.play-video-info{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
}
.channel-info{
    display: flex;
    align-items: center;
    gap: 10px;
  
   
}
.channel-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.channel-info h1{
    font-size: 15px;

}
.channel-info button{
    padding: 5px;
    color: aliceblue;
    background-color: rgb(244, 12, 12);
    border: 2px solid white;
    border-radius: 4px;
}

.options{
    display: flex;
    align-items: center;
    gap: 20px;
    object-fit: cover;
}
.play-desc{
    padding: 5px;
    margin-bottom: 5px;
}
.options img{
    width: 30px;
    height: 30px;
    object-fit: contain;

}
@media(max-width:1250px){
    .main-container-row{
        display: flex;
        flex-direction: column;
        gap: 20px;

    }
    .play-video{
        flex-basis: 100%;
    }

    .right-sidebar{
        flex-basis: 100%;
        padding: 0;
    }
    .side-video-list{
       flex-basis: 100%;
       width: 100%;
       max-width: 100%;
    

    }
    .side-video-list .small-img{
        /* flex-basis: 40%; */
        max-width: 30%;
        width: 200px;
        object-fit: cover;
    }
    .side-video-list .video-desc{
    max-width: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
      }
}
@media(max-width:500px){
    .play-video iframe{
        height: 300px;
    }
    .options{
gap: 5px;
    }
    .options img{
        width: 15px;
        height: 15px;
        object-fit: contain;
    }
    .channel-info img{
        width: 20px;
        height: 20px;
        border-radius: 50%;

    }
}