.sidebar{
background-color: #fff;
     width:15%;
     height: 100vh;
     position: fixed;
     overflow-y: auto;
     top: 0;
     padding-left:2% ;
     padding-top: 80px;
    
     transition:  0.5s;
     z-index: 5;
}
.sidebar .shortcut-links img{
    width: 30px;
    object-fit: contain;
    /* margin-right: 20px; */
}
.sidebar .shortcut-links a{
    display: flex;
    gap: 10px;
    width: fit-content;
    flex-wrap: wrap;
    margin-bottom: 20px;

}
.sidebar .shortcut-links a:first-child{
    color: #ed3833;
}
.sidebar hr{
    border: 0;
    height: 1px;
    background-color: #ccc;
    width: 85%;
}
.subscribe-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}
.subscribe-list a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    flex-wrap: wrap;
    width: fit-content;
}
.subscribe-list a img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
   
    
}
.sidebar.active{
     width: 5%;
    transition: 0.5s;
    /* display: flex; */
    position: fixed;
}
.sidebar.active a p{
    display: none;
}
.sidebar.active .subscribe-list h3{
    display: none;
    
}
.sidebar.active .subscribe-list a{
    margin-top: 10px;
}
.sidebar.active .subscribe-list a img{
    width: 20px;
    height: 20px;
}
@media(max-width:1220px){
    .sidebar{
        width: 0;
    }

}